{% extends "base_generic.html" %}
{% block content %}

{% if form.errors %}
	<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form style="padding-top: 70px;" method="post" action="{% url 'login' %}">
<div class="panel text-center panel-warning">
<h2 class="panel-heading page-header">Login</h2>
	{% csrf_token %}
	<table class="table table-condensed table-responsive">
		<tr>
			<td>{{ form.username.label_tag }}</td>
			<td>{{ form.username }}</td>
		</tr>
		<tr>
			<td>{{ form.password.label_tag }}</td>
			<td>{{ form.password }}</td>
		</tr>
	</table>

	<input class="btn btn-warning btn-block" type="submit" value="login" />
	<input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
{% endblock %}