{% extends "base_generic.html" %}

{% block content %}
<form action="{% url 'post_delete' pk=object.pk %}" method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
<input type="submit" class="btn btn-default save" value="Confirm" />
</form>
{% endblock %}