{% extends "base_generic.html" %}
{% block content %}
<div class="post">
    <a class="btn btn-default edit-btn" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-default edit-btn" href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    {% if post.date_published %}
        <div class="date">
            {{ post.date_published }}
        </div>
    {% else %}
        <a class="btn btn-default edit-btn" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
    {% endif %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.text|linebreaksbr }}</p>
</div>
{% endblock %}