{% extends "base_generic.html" %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            {% if post.date_published %}
                <div class="date">
                    {{ post.date_published }}
                </div>
            {% endif %}
            <h1><a href="{{post.get_absolute_url}}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr|truncatechars:200 }}</p>
        </div>
    {% endfor %}
{% endblock %}