<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Python Blog Nigeria</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
   <body>
    <div class="page-header">
    	{% if user.is_authenticated %}
    		<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    		<a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
            <p class="top-menu">Hello {{ user.username }} <small><a class="btn btn-danger btn-sm" href="{% url 'logout' %}">Log out</a></small></p>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
    	{% endif %}
        <h1><a href="/">Python Blog Nigeria</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
	</body>
</html>